:root {
  --white-color: #ffffff;
  --primary-color: #13547a;
  --secondary-color: #80d0c7;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #80d0c7;
  --custom-btn-bg-hover-color: #13547a;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #13547a;
  --body-font-family: "Open Sans", sans-serif;
  --title-font-family: "Montserrat", sans-serif;
  --h1-font-size: 58px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --menu-font-size: 14px;
  --btn-font-size: 18px;
  --default-p: 16px;
  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

*:focus {
  box-shadow: none !important;
}

.button {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.toolbar-fixed.toolbar-tray-open .sticky-wrapper .navbar {
  padding-top: 79px;
}
.toolbar-fixed .sticky-wrapper .navbar {
  padding-top: 39px;
}

nav.tabs ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}
nav.tabs ul li {
  border: 1px solid var(--secondary-color);
}
nav.tabs ul li a {
  padding: 5px 10px;
  background-color: var(--section-bg-color);
}
nav.tabs ul li a.is-active {
  background-color: var(--secondary-color);
}

.user-login-form .form-control {
  width: 50%;
}

.main-content {
  margin-top: 80px;
}

/* Selects the last child menu item with data-level="2" */
.navbar-nav[data-level="0"] li:last-child .navbar-nav[data-level="1"] .dropdown-menu[data-level="2"] {
  /* Add your styles here */
  left: -100%;
}
.navbar-nav[data-level="0"] li:last-child .navbar-nav[data-level="1"] .dropdown-menu[data-level="2"]:before {
  border-left: 15px solid var(--white-color);
  border-right: 15px solid transparent;
  left: 100%;
}

.navbar-nav .dropdown-menu {
  display: none;
}
.navbar-nav .dropdown-menu.hovered {
  display: block;
}
.navbar-nav .dropdown-menu.hovered[data-level="1"] .hovered:hover .nav-link::after, .navbar-nav .dropdown-menu.hovered[data-level="2"] .hovered:hover .nav-link::after {
  transform: rotate(-90deg);
  transition: all 0.25s ease-in-out;
}
.navbar-nav .dropdown-menu .navbar-nav.dropdown-menu {
  left: 100%;
  top: 0;
}
.navbar-nav .dropdown-menu .navbar-nav.dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 15px solid var(--white-color);
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 10px;
  left: -35px;
}

.front_class .navbar-nav .nav-link {
  color: var(--secondary-color);
}
.front_class .navbar-nav .nav-link.is-active, .front_class .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}
.front_class .navbar-nav .dropdown-menu .nav-link {
  color: var(--secondary-color);
}
.front_class .navbar-nav .dropdown-menu .nav-link.is-active, .front_class .navbar-nav .dropdown-menu .nav-link:hover {
  color: var(--primary-color);
}

.is-sticky .front_class .navbar-nav .navbar-nav[data-level="1"] .nav-link, .is-sticky .front_class .navbar-nav .navbar-nav[data-level="1"] .nav-link {
  color: var(--secondary-color);
}
.is-sticky .front_class .navbar-nav .navbar-nav[data-level="1"] .nav-link.is-active, .is-sticky .front_class .navbar-nav .navbar-nav[data-level="1"] .nav-link:hover, .is-sticky .front_class .navbar-nav .navbar-nav[data-level="1"] .nav-link.is-active, .is-sticky .front_class .navbar-nav .navbar-nav[data-level="1"] .nav-link:hover {
  color: var(--secondary-color);
}
.is-sticky .front_class .navbar-nav[data-level="0"] .nav-link {
  color: var(--white-color);
}
.is-sticky .front_class .navbar-nav[data-level="0"] .nav-link.is-active, .is-sticky .front_class .navbar-nav[data-level="0"] .nav-link:hover {
  color: var(--primary-color);
}

.social-media {
  margin-top: 20px;
}
.social-media i {
  padding-right: 10px;
  font-size: 25px;
  color: var(--secondary-color);
}

.site-footer nav h2 {
  color: var(--primary-color);
  font-size: 22px;
}
.site-footer form {
  display: flex;
}
.site-footer form .form-search {
  padding: 0;
}
.site-footer .form-submit {
  background-color: var(--secondary-color);
  border-color: var(form-submit);
  margin-top: 12px;
}
.site-footer .contact-info {
  margin-top: 25px;
}
.site-footer .contact-info span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.site-footer .contact-info span.icon i {
  margin-right: 5px;
  font-size: 25px;
  color: var(--secondary-color);
  font-weight: var(--font-weight-medium);
}
.site-footer .contact-info span p {
  font-size: var(--default-p);
  margin: 0;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex: unset;
  }
}