{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul {{ attributes.addClass('navbar-nav me-lg-auto ' ~ menu_name|clean_class) }} data-level="{{ menu_level }}">
      {% for item in items %}
        {% set is_dropdown = item.below is not empty %}
        {% set activeClass = item.in_active_trail ? 'active' : '' %}
        <li class="nav-item {{ activeClass }}{% if is_dropdown %} dropdown{% endif %}" {% if is_dropdown %}data-bs-toggle="hover"{% endif %}>
          <a class="nav-link click-scroll{% if is_dropdown %} dropdown-toggle{% endif %} {{ activeClass }} dropdown-item" href="{{ item.url }}" {% if is_dropdown %}role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>
            {{ item.title }}
          </a>
          {% if is_dropdown %}
            {{ menus.menu_links(item.below, attributes.addClass('dropdown-menu' ~ menu_name|clean_class), menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
