{% if not is_front %}
  {% set front_class = 'front_class' %}
{% endif %}
<main>
  <nav class="navbar navbar-expand-lg {{front_class}}">
    <div class="container">
      {{ page.site_branding }}

      <div class="d-lg-none ms-auto me-4">
        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        {{page.nav_main}}
        <div class="d-none d-lg-block">
          <a href="#top" class="navbar-icon bi-arrow-up smoothscroll"></a>
        </div>
      </div>
    </div>
  </nav>
    
  {% if is_front %}
    {% if banner_display %}
      <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
              <h1 class="text-white text-center">{{banner_title}}</h1>
              <h6 class="text-center">{{banner_description}}</h6>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endif %}
  <div class="main-content {{front_class}}">
    {{page.content}}
  </div>
</main>

<footer class="site-footer section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-4 pb-2">
        {{page.footer1}}
          {% if show_information_icon %}
          <div class="contact-info">
            {% if address %}<span class="icon"><i class="bi bi-pin-map"></i><p class="text-dark">{{address}}</p></span>{% endif %}
            {% if contact %}<span class="icon"><i class="bi bi-phone"></i><p class="text-dark">{{contact}}</p></span>{% endif %}
            {% if mail_id %}<span class="icon"><i class="bi bi-mailbox"></i><p class="text-dark">{{mail_id}}</p></span>{% endif %}
          </div>
        {% endif %}
        {% if show_social_icon %}
          <div class="social-media">
            <a href="{{twitter_url}}" class="social-media-icon"><i class="bi bi-twitter-x"></i></a>
            <a href="{{facebook_url}}" class="social-media-icon"><i class="bi bi-facebook"></i></a>
            <a href="{{instagram_url}}" class="social-media-icon"><i class="bi bi-instagram"></i></a>
            <a href="{{youtube_url}}" class="social-media-icon"><i class="bi bi-youtube"></i></a>
            <a href="{{linkedin_url}}" class="social-media-icon"><i class="bi bi-linkedin"></i></a>
          </div>
        {% endif %}
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        {{page.footer2}}
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
        {{page.footer3}}
      </div>
      <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
        {{page.footer4}}
        {% if footer_copyright %}<p class="copyright-text mt-lg-5 mt-4">{{footer_copyright}} {% endif %}
        </p>
      </div>
    </div>
  </div>
</footer>